colorlog == 6.8.2
grpcio==1.65.1
grpcio-tools==1.65.1
opencv-python==4.10.0.84
pillow==10.4.0
PyAutoGUI==0.9.54
pydantic-settings==2.3.4
python-xlib==0.33
redis==5.0.7
requests==2.32.3
watchfiles==0.22.0
websocket-client==1.8.0
